{% extends 'miniblog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-dark my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut distinctio enim est hic magnam molestiae provident quidem recusandae reprehenderit, suscipit voluptatum. Aliquam dolore nemo numquam tempora veritatis! Dolore fugiat natus obcaecati voluptatem! Autem beatae consequatur, doloremque exercitationem expedita iusto magnam minima mollitia nam nisi, odio porro provident quas quia?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at cupiditate eos, mollitia nulla rem suscipit veniam vitae? Aperiam, aut beatae culpa deserunt ducimus eaque eligendi eos est, eveniet facere harum, iusto libero modi molestias natus numquam praesentium qui quibusdam repudiandae soluta suscipit voluptas voluptatibus! Alias architecto repudiandae sapiente velit.</p>

</div>

{% endblock content %}